<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="FacebookSignUp">
    <classes>
      <class name="regression.TestSignUp"/>
      <methods>
		<include name="TestSignUpSuccess"/>
      </methods>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->